<?php
return array(
		'doctrine' => array(
				'connection' => array(
						'orm_registrar' => array(
								'driverClass' => 'Doctrine\DBAL\Driver\OCI8\Driver',
								'params' => array(
										'username' => 'registrar',
										'password' => 'HBTR%iMo9',
										'connectionstring' => '(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = SEFS-INFRA.SYSAPPS.UNLV.EDU)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = slifedev.sefsinfra.sysapps.unlv.edu) (SRVR = DEDICATED)))',
								)
						),
						 
				),
				 
				'configuration' => array(
						'orm_registrar' => array(
								'metadata_cache'    => 'array',
								'query_cache'       => 'array',
								'result_cache'      => 'array',
								'driver'            => 'orm_registrar',
								'generate_proxies'  => true,
								'proxy_dir'         => 'data/DoctrineORMModule/Proxy',
								'proxy_namespace'   => 'DoctrineORMModule\Proxy',
								'filters'           => array()
						)
				),
				 
				'entitymanager' => array(
						'orm_registrar' => array(
								'connection'    => 'orm_registrar',
								'configuration' => 'orm_registrar'
						)
				),


				'driver' => array(
						'Registrar_Driver' => array(
								'class' => 'Doctrine\ORM\Mapping\Driver\AnnotationDriver',
								'cache' => 'array',
								'paths' => array(
										__DIR__ . '/../src/Honors/Entity'
								)
						),
						'orm_registrar' => array(
								'class'   => 'Doctrine\ORM\Mapping\Driver\DriverChain',
								'drivers' => array(
										'Honors\Entity' =>  'Registrar_Driver'
								)
						),
				),
				 
				 
		),

);