<?php
/**
 * Global Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
        	        
 */

return array(
    'survey' => array(
    		'environment' => 1,
    ),
    /*
     * This is an extension of the bjyauthorize config file but specific to this module
    * ACL Authorization configuration for the Housing application
    * Check out the comments in bjyauthorize.global.php or bjyauthorize.local.php for
    * more detailed instrumentation of the code.
    */
    'bjyauthorize' => array(
    		'role_providers' => array(
    				'BjyAuthorize\Provider\Role\Config' => array(
    						'user' => array(
    								//children will see everything an authenticated user can see
    								'children' => array(
    										'survey' => array(),    										
    								)
    						)
    				)
    		),

    		'guards' => array(
    				/* If this guard is specified here (i.e. it is enabled), it will block
    				 * access to all controllers and actions unless they are specified here.
    * if you do not specify actions under a controller all actions will inherit the controllers privileges
    */
    				'BjyAuthorize\Guard\Controller' => array(
    						//housing application
    						array(
    								'controller' => 'Survey\Controller\Index',
    								'roles' => array('user')
    						)
    						
    				)
    		),
    
    ),
    /*
     * Doctrine ORM connections to Oracle Databases for Survey
    */
    'doctrine' => array(
    		//choose the entity you need based on the environment
    		'entitymanager' => array(
    				'orm_survey_development' => array(
    						'connection'    => 'orm_db09_dev',
    						'configuration' => 'orm_survey'
    				),
    				'orm_survey_test' => array(
    						'connection'    => 'orm_db09_test',
    						'configuration' => 'orm_survey'
    				),
    		),
    		'configuration' => array(
    				'orm_survey' => array(
    						'metadata_cache'    => 'array',
    						'query_cache'       => 'array',
    						'result_cache'      => 'array',
    						'driver'            => 'orm_survey',
    						'generate_proxies'  => true,
    						'proxy_dir'         => 'data/DoctrineORMModule/Proxy',
    						'proxy_namespace'   => 'DoctrineORMModule\Proxy',
    						'filters'           => array()
    				)
    		),    		
    		'driver' => array(
    				'Survey_Driver' => array(
    						'class' => 'Doctrine\ORM\Mapping\Driver\AnnotationDriver',
    						'cache' => 'array',
    						'paths' => array(
    								__DIR__ . '/../src/Survey/Entity'
    						)
    				),
    				'orm_survey' => array(
    						'class'   => 'Doctrine\ORM\Mapping\Driver\DriverChain',
    						'drivers' => array(
    								'Survey\Entity' =>  'Survey_Driver'
    						)
    				),
    		)    		 
    ),

);
